#wrapper #top-content {
  width: 100%;
  position: absolute;
}
#wrapper #content {
  padding: 0px;
}
#wrapper #content > div {
  position: relative;
  padding-top: 25px;
  border-radius: 15px;
}
#wrapper #content > figure {
  height: 25vh;
  width: 100%;
}
#wrapper #content > figure img {
  width: 100%;
}
#wrapper #content h2 {
  width: 60%;
  font-size: 20px;
  margin-left: 25px;
}
#wrapper #content .rating {
  font-size: 12px;
  color: #9C9C9C;
  margin: 15px 0 15px 25px;
}
#wrapper #content .tags {
  gap: 10px;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
}
#wrapper #content .tags p {
  font-size: 10px;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 7px;
  color: #88A4E8;
  border-radius: 100px;
  background: #DBE3FF;
}
#wrapper #content .info {
  gap: 50px;
  display: flex;
  margin: 15px 0 15px 25px;
}
#wrapper #content .info p {
  font-size: 14px;
  font-weight: bold;
}
#wrapper #content .info p span {
  display: block;
  color: #9C9C9C;
  padding-bottom: 2px;
}
#wrapper #content h3 {
  font-size: 18px;
  margin-left: 25px;
}
#wrapper #content .description {
  font-size: 14px;
  font-weight: bold;
  color: #9C9C9C;
  margin: 5px 0 15px 25px;
}
#wrapper #content section:first-of-type {
  padding-bottom: 0px;
}
#wrapper #content section:first-of-type button {
  margin-left: 36%;
}
#wrapper #content section:first-of-type ol {
  display: grid;
  margin: 0 25px;
  padding-top: 5px;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#wrapper #content section:first-of-type ol li {
  width: 72px;
  padding-bottom: 25px;
}
#wrapper #content section:first-of-type ol li p {
  font-size: 12px;
  font-weight: bold;
}
#wrapper #content section:first-of-type ol li img {
  width: 72px;
  border-radius: 5px;
}