body {
  min-height: 100vh;
  overflow: hidden scroll;
  transition: background-color 0.2s ease;
}

.dark #wrapper #top-content #mode-button span {
  transform: translate(19px, 3px);
}

#wrapper {
  width: 100%;
  height: inherit;
}
#wrapper #top-content {
  display: grid;
  padding: 25px 25px;
  grid-template-columns: 1fr 2fr 1fr;
}
#wrapper #top-content img {
  cursor: pointer;
}
#wrapper #top-content h1 {
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-family: "Merriweather";
}
#wrapper #top-content h1 a {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}
#wrapper #top-content #mode-button {
  width: 38px;
  height: 21px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  border-radius: 100px;
  transition: background 0.2s ease;
  background: light-dark(#AAA9B1, var(--primary-background-color));
}
#wrapper #top-content #mode-button input {
  opacity: 0;
  width: 38px;
  cursor: pointer;
  position: absolute;
}
#wrapper #top-content #mode-button span {
  width: 15px;
  height: 15px;
  display: block;
  border-radius: inherit;
  transform: translate(3px, 3px);
  transition: transform 0.2s ease;
  background: light-dark(var(--primary-background-color), var(--secondary-background-color));
}
#wrapper #content {
  padding-left: 25px;
}
#wrapper #content section {
  overflow: hidden;
  padding-top: 25px;
}
#wrapper #content section > div {
  width: 100%;
  display: flex;
  padding: 0 25px 0 0;
  justify-content: space-between;
}
#wrapper #content section > div > h3, #wrapper #content section > div > button {
  margin: 0;
}
#wrapper #content section.hidden {
  height: 0px;
  padding: 0px;
}
#wrapper #content section.show ol {
  flex-wrap: wrap;
  padding-right: 25px;
  justify-content: center;
}
#wrapper #content section h3 {
  width: 140px;
  font-size: 16px;
  display: inline-block;
}
#wrapper #content section button {
  height: 25px;
  padding: 4px;
  font-size: 10px;
  cursor: pointer;
  margin-left: 37%;
  color: #AAA9B1;
  border-radius: 100px;
  display: inline-block;
  background: transparent;
  transform: translateY(-10%);
  border: 2px solid #AAA9B1;
}
#wrapper #content section button:hover {
  color: light-dark(var(--secondary-background-color), var(--primary-background-color));
  border: 2px solid light-dark(var(--secondary-background-color), var(--primary-background-color));
}
#wrapper #content section ol[id=new-list] {
  gap: 20px;
  display: flex;
  margin-top: 25px;
  min-width: 350px;
  overflow-x: scroll;
  padding-right: 26px;
  scrollbar-width: none;
}
#wrapper #content section ol[id=new-list] li {
  width: 143px;
  min-height: 283px;
}
#wrapper #content section ol[id=new-list] li .top-card > img {
  width: 142px;
  height: 212px;
  border-radius: 5px;
}
#wrapper #content section ol[id=new-list] li .top-card h4 {
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}
#wrapper #content section ol[id=new-list] li .top-card p {
  font-size: 12px;
  color: #9C9C9C;
  margin-top: 15px;
}
#wrapper #content section ol[id=popular-shows] {
  gap: 25px;
  display: flex;
  margin-top: 25px;
  min-width: 325px;
  scrollbar-width: none;
  flex-direction: column;
  overflow: hidden scroll;
}
#wrapper #content section ol[id=popular-shows] .side-card {
  gap: 20px;
  display: flex;
  border-radius: 5px;
}
#wrapper #content section ol[id=popular-shows] .side-card > img {
  max-width: 90px;
  border-radius: 5px;
}
#wrapper #content section ol[id=popular-shows] .side-card figcaption {
  gap: 15px;
  display: inherit;
  flex-direction: column;
}
#wrapper #content section ol[id=popular-shows] .side-card figcaption h4 {
  width: 220px;
  font-size: 14px;
  cursor: pointer;
}
#wrapper #content section ol[id=popular-shows] .side-card figcaption > p:first-of-type {
  font-size: 12px;
  color: #9C9C9C;
}
#wrapper #content section ol[id=popular-shows] .side-card figcaption > p:last-of-type {
  font-size: 12px;
}
#wrapper #content section ol[id=popular-shows] .side-card figcaption .tags {
  gap: 10px;
  display: flex;
  width: 235px;
  flex-wrap: wrap;
  background: transparent;
}
#wrapper #content section ol[id=popular-shows] .side-card figcaption .tags p {
  font-size: 8px;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 7px;
  color: #88A4E8;
  border-radius: 100px;
  background: #DBE3FF;
}
#wrapper #content section:last-of-type {
  min-height: 48vh;
  padding: 25px 0px 100px 0px;
}
#wrapper #content section:last-of-type.hidden {
  padding: 0px;
}
#wrapper #content section:last-of-type ol {
  min-height: 215px;
}
#wrapper #bottom-content {
  bottom: 0%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  padding: 25px 0px;
  background: inherit;
  justify-content: space-evenly;
}
#wrapper #bottom-content button {
  border: none;
  cursor: pointer;
  background: transparent;
}
#wrapper #bottom-content button:first-of-type > img {
  transform: translateY(15%);
}