// IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

// ROOTS
:root {
	--primary-text-color: #000;
	--secondary-text-color: #fff;
	--third-text-color: #9C9C9C;
	--primary-background-color: #fff;
	--secondary-background-color: #000;	
}

.dark {
	color-scheme:  dark;
}
.light {
	color-scheme:  light;
}

// BROWSER RESETS
* {
	margin: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Mulish", sans-serif;
}

figure, body, li, ul, ol {
	padding: 0;
}

h1,h2,h3,h4,p, a {
	color: light-dark(var(--secondary-background-color), var(--primary-background-color));
}

div {
	background: light-dark(var(--primary-background-color), var(--secondary-background-color));
}

h3 {
	font-family: "Merriweather";
}

body {
	background: #1c1c1c;
}